.projects{

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1f22;
}

.top-container{

    width: 100%;
    height: 30%;

    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.top-container-heading{

    font-size: 33px;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    font-weight: 100;

    border-bottom: 2px solid whitesmoke;
    /* border-image: linear-gradient(to right, #d35432 , #bb0072  );
    border-image-slice: 1;
    background-image: -webkit-linear-gradient(0deg, #d35432 0%, #bb0072 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent; */

}

.skill-container{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   

}
.skill-item{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50px;
    font-size: 25px;
    background-image: -webkit-linear-gradient(0deg, #d35432 0%, #bb0072 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}
.skill-item:hover{

    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* .bottom-container */

.bottom-container{
    margin: 20px;
   
    height: 70%;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

        
}



.bottom-container-heading{
 
    font-size: 33px;
    font-weight: 100;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;

}
.project-container{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.project-item{

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 20%;
    height: 70%;
    /* background: linear-gradient(to right, #e20b8c, #f84b00); */
    background: linear-gradient(to right, #1d6b58, #95e1ec);

}
.project-item:hover{
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}