.contact-container{
    
    background-color: #111;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;
    

}
.contact-container-one{
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */



    background: linear-gradient(to right, #e20b8c, #f84b00);
    border-radius: 40px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-container-titles{
   
}
.contact-container-title-heading{

    font-size: larger;
    margin: 20px;
    

}
.contact-container-title-heading-two{
    margin: 20px;


    

}


/* Contact Container */
.contact-info-container{
    margin: 20px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.contact-item{
  

   
    /* border: 5px solid rgb(0, 0, 0); */

    font-size: 18px;
    font-weight: 100;
    display: flex;
    align-items: center !important;
    justify-content: flex-start;
    
   
}
.contact-item:hover{
    animation:  shake 1s ;
}

@keyframes shake{
    0%{
      transform: translateX(0)

    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }
.contact-item-icon{
  
    font-size: 23px;
    height: 32px;
    margin: 10px;

}

/* form-cotainer */
.cotact-form-container{
  
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    background: linear-gradient(to right, #e20b8c, #f84b00);
    
    border-radius: 40px;
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    

}
.contact-form-container-heading-one{

    font-size: 30px;
    margin: 20px;
    
  
}

.contact-form-container-heading-two{

    font-size: 15px;
    margin: 20px;
}
.contact-form{

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;    
}

.contact-form-input{

    margin: 10px;
    width: inherit;
    height: 40px;
    border-width: 0 0 1px;
}

.contact-form-text{

    margin: 10px;
    width: inherit;
    height: 100px;
}

.contact-form-container-button{

    border-radius: 10px;
    border: 0px;
    color: white;
    margin: 20px;
    width: 130px;
    height: 39px;
    font-size: 20px;
    font-weight: 100;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
.contact-form-container-button:hover{

    background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
    animation:  shake 1s ;

}