.intro{
    /* background-color: #EA738DFF; */
    /* background: radial-gradient(circle at 10% 20%, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 90%); */
    /* background-color: #1E1E24; */
    background-color: #1e1f22;;
    display: flex;

    justify-content: space-around;
    align-items: center;
    height: 100vh;


}
.i-left{

    padding: 20px;
    border-radius: 45px ;
   

    width: 45%;
    height: 50vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    
}

.i-intro{
    color: #1e1f22;
    font-size: 30px;
    font-weight: lighter;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto;  */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3s steps(40, end) ,
      blink-caret .75s step-end infinite;
      animation-fill-mode: forwards
}
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:  #EA738DFF;; }
  }


.i-name{
    font-size: 50px;
    font-weight: 400;
    color: #1e1f22;
    

}
.i-title{
    height: 50px;
    overflow: hidden;
    color:  #EA738DFF;

}
.i-title-wrapper{
    height: 100%;
    animation:  move 10s ease-in-out infinite alternate ;
 
}
@keyframes move{
    33.33%{
        transform: translateY(-50px);
    }
    33.33%{  transform: translateY(-100px);}
    33.36%{  transform: translateY(-150px);}

}
.i-title-item{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 30px;

}
.i-desc{
    white-space: normal;
    color: #1e1f22;
}


/* Right container */



.i-right{
    
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.i-right-container{
    background-color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;

    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}