@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Kalam', cursive;
    scroll-behavior: smooth;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
body{
    background-color: rgb(254, 254, 254);
}